body {
    background-color: #DBF1FF;
    color: #070D06;
}

h1 {
    font-family: 'Alice', serif;
    text-align: center;
    font-size: 40px;
}

h2 {
    font-family: 'Arimo', sans-serif;
    font-size: 25px;
    text-align: center;
    background-color: #C3D7E3;
}

p {
    font-family: 'Belleza', sans-serif;
    font-size: 140%;
}

.conteudo {
    display: flex;
    align-items: center;
}

main div p {
    float: left;
    margin: 0 10px 0 10px;

}

main div img {
    width: 30%;
}

footer p{
    font-size: 100%;
    text-align: center;
}